@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("./normalize.css");

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background-color: #12131a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  margin: 0 auto;
  max-width: 1600px;
}

/* .container {
  background-color: #12131a;
} */
